.icon-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 300px;
    align-items: flex-start;
    margin-top: 150px;
}


.icon-item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}


.icon-image-wrapper {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 8px;
}


.icon-image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}


.icon-label {
    margin-top: 8px;
    font-size: 0.9rem;
    text-align: center;
}
